@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome To Restaurant Rater. Our site is dedicated to helping to make your dining choices easier. We were created by Foodies for Foodies.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search for Restaurants</h2>
        <p>
            Check for restaurants in your area or search by name.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Search Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate a Restaurant</h2>
        <p>Rate restaurants in your area.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Rate Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Have any questions? We want to hear about it.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>